body {
  margin: 0;
  padding: 80px 50px;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}

[data-color="1xx"] {
  background-color: #d0f9fe;
}

[data-color="2xx"] {
  background-color: #d4f7ae;
}

[data-color="3xx"] {
  background-color: #cdc8ff;
}

[data-color="4xx"] {
  background-color: #faf4b5;
}

[data-color="5xx"] {
  background-color: #fbb7b7;
}

.title {
  text-align: center;
  margin: 0;
}

.sub-title {
  text-align: center;
  margin: 20px 0 0;
  color: #b2b2b2;
  font-weight: 400;
}

.options {
  display: flex;
  justify-content: flex-end;
  margin: 80px 4% 50px;
}

.shadow {
  transform: translateY(0px);
  transition: all .15s ease-out;
}

.shadow:hover {
  box-shadow: 0 8px 20px rgba(138, 135, 135, .6);
  transform: translateY(-5px) scale(1.005) translateZ(0);
}

.btn-options {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  border-radius: 25px;
  background-color: #f0f0f0;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

.btn-options img {
  display: block;
  height: 25px;  
  width: 25px;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 225px;
	grid-gap: 60px 10px;
  justify-items: center;
}

.item1-area {
  grid-column: 1;
  grid-row: 1;
}

.item2-area {
  grid-column: 1;
  grid-row: 2;
}

.item3-area {
  grid-column: 1;
  grid-row: 3;
}

.item4-area {
  grid-column: 2;
  grid-row: 1 / 4;
}

.item5-area {
  grid-column: 2;
  grid-row: 4;
}

.item {
  border: 1px solid #f2f2f2;
  border-radius: 6px;
  padding: 30px;
  box-shadow: 0 0 30px 5px rgba(197, 197, 197, .3);
  min-width: 75%;
  transition: all .15s ease-out;
}

.item:hover {
  box-shadow: 0 0 30px 5px rgba(197, 197, 197, .5);
  transform: translateY(-5px) scale(1.005) translateZ(0);
}

.item-title {
  margin: 0 0 20px;
  font-weight: 500;
  font-size: 18px;
}

.item-desc {
  border-top: 1px solid #efefef;
  display: flex;
  align-items: center;
}

.item-desc:last-child {
  padding-bottom: 0;
}

.item-code {
  padding: 20px;
  margin-right: 20px;
  font-weight: 500;
}

.item-code-title {
  line-height: 22px;
}

.tooltip {
  cursor: pointer;
  position: relative;
  margin-right: 20px;
  border-radius: 100%;
}

.tooltip:last-child {
  margin: 0;
}

.tooltip::before {
  position: absolute;
  top: 55px;
  left: -108px;
  background-color: #000;
  border-radius: 8px;
  border-top-right-radius: 8px;
  color: #fff;
  content: attr(aria-label);
  padding: 7px;
  text-transform: none;
  transition: all .15s ease-in;
  width: 123px;
  border-top-right-radius: 0;
}

.tooltip::after {
  position: absolute;
  bottom: -10px;
  left: 24px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000;
  content: " ";
  font-size: 0;
  line-height: 0;
  margin-left: -5px;
  width: 0;
}

.tooltip::before, .tooltip::after {
  color: #efefef;
  font-size: 15px;
  opacity: 0;
  pointer-events: none;
  text-align: center;
  transition: all .15s ease-in;
}

.tooltip:focus::before, .tooltip:focus::after, .tooltip:hover::before, .tooltip:hover::after {
  opacity: 1;
}

@media (max-width: 768px) {
  
  body {
    padding: 60px 25px;
  }

  .wrapper {
    display: block;
  }

  .item {
    margin-bottom: 30px;
  }

  .tooltip::before, .tooltip::after {
    display: none;
  }

  .options {
    margin-right: 0;
  }

}