body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  line-height: 1.4;
  padding: 80px 50px;
  margin: 0;
}

h1 {
  text-align: center;
  margin: 0;
}

h3 {
  font-weight: 400;
  text-align: center;
  color: #b2b2b2;
  margin: 20px 0 0;
}

.options {
  margin: 80px 4% 50px;
  display: flex;
  justify-content: flex-end;
}

button {
  background-color: #f0f0f0;
  box-shadow: none;
  border-radius: 25px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  transform: translateY(0px);
  transition: all 0.15s ease-out;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 8px 20px rgba(138, 135, 135, 0.6);
  transform: translateY(-5px);
}

button img {
  display: block;
  height: 25px;
  width: 25px;
}

main {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 60px 10px;
}

.item1-area {
  grid-area: 1 / 1;
}

.item2-area {
  grid-area: 2 / 1;
}

.item3-area {
  grid-area: 3 / 1;
}

.item4-area {
  grid-area: 1 / 2 / span 3;
}

.item5-area {
  grid-area: 4 / 2;
}

section {
  border: 1px solid #f2f2f2;
  border-radius: 6px;
  box-shadow: 0 0 30px 5px rgba(197, 197, 197, 0.3);
  padding: 30px;
  width: 75%;
  transition: all 0.15s ease-out;
}

.item:hover {
  box-shadow: 0 0 30px 5px rgba(197, 197, 197, 0.5);
  transform: translateY(-5px);
}

p {
  font-weight: 500;
  font-size: 18px;
  margin: 0 0 20px;
}

.item-desc {
  border-top: 1px solid #efefef;
}

.item-code {
  font-weight: 500;
  padding: 20px;
  margin-right: 20px;
}

.tooltip {
  border-radius: 100%;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
}

.tooltip::before {
  content: attr(aria-label);
  background-color: #333;
  color: #fff;
  text-transform: none;
  border-radius: 8px;
  border-top-right-radius: 8px;
  border-top-right-radius: 0;
  padding: 7px;
  width: 123px;
  position: absolute;
  top: 55px;
  left: -108px;
  transition: all 0.15s ease-in;
}

.tooltip::after {
  content: " ";
  font-size: 0;
  line-height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #333;
  margin-left: -5px;
  width: 0;
  position: absolute;
  bottom: -10px;
  left: 24px;
}

.tooltip::before,
.tooltip::after {
  color: #efefef;
  font-size: 15px;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.15s ease-in;
}

.tooltip:hover::before,
.tooltip:hover::after {
  opacity: 1;
}

label {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  cursor: pointer;
  transition: all 0.2 ease-in;
}

label:hover {
  font-weight: bold;
}

label::before {
  content: " ";
  border: solid #e4e4e6;
  border-width: 0 3px 3px 0;
  border-bottom-right-radius: 3px;
  padding: 3px;
  display: inline-block;
  position: absolute;
  right: 0;
  transform: rotate(-45deg);
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
}

input[type="radio"]:checked + label::before {
  transform: rotate(45deg);
}

input[type="radio"]:focus + label::before {
  border-color: #333;
  outline: -webkit-focus-ring-color auto 5px;
}

.collapsible-content {
  background: #f6f6f6;
  text-align: justify;
  max-height: 0px;
  width: 100%;
  overflow: hidden;
  transition: max-height 0.8s ease;
}

ul {
  font-weight: 500;
  padding: 20px 40px;
}

input[type="radio"]:checked + label + .collapsible-content {
  max-height: 100vh;
}

@media (max-width: 768px) {
  body {
    padding: 60px 25px;
  }

  main {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  section {
    margin-bottom: 30px;
  }

  .tooltip::before,
  .tooltip::after {
    display: none;
  }
}
